@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @media print {
        aside, header, nav, button, .no-print {
            display: none !important;
        }
        main {
            padding: 0 !important;
            margin: 0 !important;
            background: white !important;
        }
    }
}
